### Build ###
.gradle/
build/
out/
bin/
dist/

# Ausnahmen (falls du bestimmte Build-Ordner versionieren willst – optional)
!**/src/main/**/out/
!**/src/test/**/out/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Gradle Wrapper ###
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# Ignore config files with sensitive info
src/main/resources/application.properties

### Eclipse ###
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS-spezifisch ###
.DS_Store      # macOS
Thumbs.db      # Windows
ehthumbs.db    # Windows

### Temporäre/Log-Dateien ###
*.log
*.tmp
*.bak
*.old
*.swp

### Sonstiges ###
*.class
*.jar
*.war
*.ear